.progress-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(76,76,76,.8);
  color: #ffc107;
  height: 100%;
  .progress-content {
    display: flex;
    font-size: 14px;
    width: 100%;
    .update-progress {
      width: 150px;
      height: 20px;
      border: 1px solid #e5f1ef;
      border-radius: 10px;
      overflow: hidden;
      margin: 0 10px;
      .update-progress-child {
        display: inline-block;
        height: 100%;
        width: 0;
        background-color: rgb(6, 168, 255);
      }
    }
  }
  .update-message {
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    div {
      margin: 2px 0;
    }
  }
}
